<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="postCreateForm" (submit)="savePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        formControlName="title"
        name="title"
        placeholder="Post Title">
        <mat-error *ngIf="postCreateForm.controls['title'].invalid">Please enter a valid post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePick($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && postCreateForm.controls['image'].valid">
      <img [src]="imagePreview" [alt]="postCreateForm.controls['title'].value">
    </div>
    <mat-form-field>
      <textarea
      matInput
      formControlName="content"
      rows="4"
      placeholder="Post Content"></textarea>
      <mat-error *ngIf="postCreateForm.controls['content'].invalid">Please enter valid content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>
